.img-full-mix() {
  width: 100%;
  height: 100%;
}

.contact {
  height: 100vh;
  padding: 20px 150px;
  border: solid 1px #ddd;
  // background: url('~@/images/sky.jpeg');

  &__tab-panel {
    display: block;
    border: 1px solid #ddd;
    // height: 100vh;
    padding: 20px;

    &__img {
      .img-full-mix();
    }
  }
}
